@media screen and (min-width: 320px) and (max-width: 375px) {
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 375px) {
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 748px) and (max-width: 1023px) {
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    display: flex;
    gap: 24px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
}
