.logo {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
  color: rgba(18, 20, 23, 1);
}
.navLogo {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (max-width: 768px) {
  .logo {
    font-size: 14px;
  }
}
