.login {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  color: rgba(18, 20, 23, 1);
  display: flex;
  align-items: center;
  gap: 8px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.registration {
  font-family: Roboto;

  font-weight: 700;
  line-height: 20px;
  text-align: left;
  padding: 14px 39px 14px 39px;
  gap: 8px;
  border-radius: 12px;
  background-color: rgba(18, 20, 23, 1);
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.userActions .themeButton {
  border: none;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  outline: none;
}
.userActions {
  display: flex;
  align-items: center;
  gap: 16px;
}
.svg {
  color: var(--primary-light);
}

.svg:hover,
.svg:focus {
  color: var(--primary-main);
}

.registration:hover,
.registration:focus {
  transform: translateY(-2px);
  box-shadow: 0px 4px 6px rgba(114, 114, 114, 0.5);
}

.login:hover,
.login:focus {
  transform: translateY(-2px);
}
@media screen and (max-width: 768px) {
  .userActions .themeButton {
    min-height: 32px;
    min-width: 32px;
  }
  .userActions {
    gap: 6px;
  }
  .login {
    gap: 0;
    font-size: 0;
  }

  .login svg {
    width: 24px;
    height: 24px;
  }
  .registration {
    font-size: 12px;
    padding: 8px 12px 8px 12px;
  }
}

/* @media screen and (min-width: 375px) {
  .userActions .themeButton {
    min-height: 32px;
    min-width: 32px;
  }
  .userActions {
    gap: 8px;
  }
  .login {
    gap: 0;
    font-size: 0;
  }
  .login svg,
  .registration svg {
    width: 24px;
    height: 24px;
  }
  .registration {
    font-size: 12px;
    padding: 8px 12px 8px 12px;
  }
} */

@media screen and (min-width: 768px) {
  .userActions {
    gap: 16px;
  }
  .userActions .themeButton {
    min-height: 48px;
    min-width: 48px;
  }
}

@media screen and (min-width: 1440px) {
  .userActions {
    gap: 16px;
  }
  .userActions .themeButton {
    min-height: 48px;
    min-width: 48px;
  }
  .registration {
    font-size: 16px;
    padding: 14px 39px 14px 39px;
  }
}
