.nav {
  display: flex;
  align-items: center;
  gap: 28px;
}

.nav a {
  text-decoration: none;
  font-weight: 400;
  transition: color 0.3s;
  color: rgba(18, 20, 23, 1);
}

.nav a:hover {
  color: var(--hover-color);
}

.active {
  color: var(--hover-color);
}
