.nav {
  display: flex;
  align-items: center;
  gap: 28px;
}

.link {
  color: #121417;
  text-decoration: none;
  transition: color 0.3s;
}

.link:hover {
  color: var(--primary-main);
}

.active {
  color: var(--primary-main);
}
