.searchForm {
  display: flex;
  border-radius: 8px;
  gap: 20px;
  background-color: #f9f9f9;
  padding-top: 96px;
}

.formGroup {
  display: flex;
  position: relative;

  flex-direction: column;
}

.formGroup.open .icon {
  transform: translateY(-50%) rotate(180deg);
}

label {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  color: #8a8a89;
  margin-bottom: 8px;
}

select {
  padding: 14px;
  font-size: 16px;
  border: none;
  border-radius: 14px;
  background-color: #fff;
  appearance: none;
}
select:focus {
  outline: none; /* Прибираємо рамку фокусу */
  box-shadow: 0 0 0 2px #f9f9f9; /* Зміна кольору обвідки при фокусі */
  background-color: #ffffff; /* Можна встановити білий фон, щоб не було синього */
}
option {
  color: gray;
}
option:hover {
  color: #121417;
  background-color: #ffffff;
}
option:focus {
  color: #121417;
  background-color: #ffffff;
}
.icon {
  position: absolute;
  stroke: #121417;
  fill: none;
  right: 14px;
  top: 70%;
  transform: translateY(-50%);
  pointer-events: none;
}
.language {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  width: 224px;
}
.knowledge {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;

  width: 198px;
}
.price {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  width: 124px;
}
