.h2 {
  font-family: Roboto;
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: -0.02em;
  text-align: left;
  margin-bottom: 20px;
}
.text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #121417cc;
  margin-bottom: 20px;
}
.h4 {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
}

.label {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  color: #121417;
}
