.levelList {
  margin-top: 32px;
}
.levelItem {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  border: 1px solid #12141733;
  border-radius: 35px;
  padding: 8px 12px 8px 12px;
  margin-right: 8px;
}

.levelItem:last-child {
  margin-right: 0px;
}
