.h2 {
  font-family: Roboto;
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: -0.02em;
  text-align: left;
}
.modal {
  max-width: 566px;
  border-radius: 30px;
  padding: 64px;
}

.text {
  margin-top: 20px;
}
.button {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  margin-top: 40px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 12px;
  border: none;
  text-decoration: none;
}
